body { background: #aab499; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 45px; display: flex; }
.block-logger-0 { color: #7fa79a; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #ee2c85; font-size: 18px; margin-bottom: 5px; }
.block-email-2 { color: #fee14a; font-size: 21px; margin-bottom: 5px; }
.block-filter-3 { color: #f7ed5c; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #a3b625; font-size: 16px; margin-bottom: 5px; }